.pad{
    padding-right: 90px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 18px;
}
.colo{
    color : rgb(108, 107, 107);
}
.colo2{
    color: red;
}
.si{
    font-size: 20px;
}
button{
    background-color: red;
    color: white;
    border: 1px solid red;
    width: 200px;
    height: 40px;
    font-size: 12px;
    font-weight: bold;
}
a{
    color : grey;
}
body{
    background-color: rgb(183, 191, 199);
}